@import "reset.scss";
@import "app.scss";

.header {
  padding: 45px 75px 0 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__menu {
    display: flex;
    flex-direction: row;

    &__logo {
      width: 76px;
      height: 67px;
      cursor: pointer;
    }

    &__ul {
      display: flex;
      flex-direction: row;
      list-style: none;

      &__li {
        margin: 0 32px;
        font-size: 18px;
        font-weight: 500;
        color: #2c4c69;
        cursor: pointer;
        &:hover {
          border-bottom: 3px solid #01d277;
          border-radius: 2px;
        }
      }
    }
  }

  &__user {
    &__img {
      width: 58px;
      height: 58px;
      cursor: pointer;
    }
  }
}

.main {
  padding: 0 289px;
  &__h1 {
    font-size: 36px;
    font-weight: 600;
    color: #27435e;
  }
  &__form {
    /* width: 100%; */
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &__input {
      width: 46%;
      height: 60px;
      background: #f5f8fe;
      padding: 0 26px;
      font-style: italic;
      font-weight: 400;
      border: none;
      border-radius: 12px;
      position: absolute;

      &__btn {
        background: #01d277;
        color: #ffffff;
        font-size: 18px;
        border-radius: 12px;
        position: relative;
        text-align: center;
        margin-right: 10px;
        padding: 15px 25px;
        cursor: pointer;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &__box {
      display: flex;
      flex-direction: row;
      border: 1px solid #e5e9f2;
      margin-bottom: 20px;
      /* max-width: 823px;
      max-height: 194px; */

      &__poster {
        width: 129px;
        height: 194px;
        cursor: pointer;
      }

      &__text {
        padding: 0 30px;
        list-style: none;

        &__title {
          font-size: 22px;
          font-weight: 500;
        }

        &__date {
          font-size: 12px;
          font-style: italic;
          font-weight: 400;
          color: #8e9dae;
        }

        &__description {
          font-size: 16px;
          font-weight: 400;
          line-height: 25px;
          color: #8392a5;
          text-overflow: ellipsis;
        }

        &__link {
          font-size: 14px;
          font-weight: 500;
          color: #01d277;
          cursor: pointer;
        }
      }
    }
  }
}
